/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --background-color: #070707;
  --gradient-one: #d62598;
  --gradient-two: #c86ba8;
  --main-color: #a6a6a6;
  --text-color-profile: #ededed;
  --line-color: #383838;
}

body,
html {
  height: 100%;
  font-family: "Poppins", sans-serif;
}
/* Start Global Rules */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-color);
}

/* End Global Rules */
/* Start Selection */
::selection {
  color: #cfc09f;
  background: white;
}
/* End Selection */

/* Start Page */
.container {
  /* background: radial-gradient(ellipse at center, #443501 0%, #000000 100%); */
  background-color: #101010;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(12, auto);
}
.container .info {
  margin-top: 70px;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 9;
  text-align: center;
}
.container .info .logo {
  width: 200px;
}
.container .info h1 {
  background: linear-gradient(
    to right,
    rgba(30, 87, 153, 1) 0%,
    rgba(41, 137, 216, 1) 50%,
    rgba(32, 124, 202, 1) 51%,
    rgba(125, 185, 232, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: -20px;
}
.container .info h2 {
  color: white;
  font-size: 40px;
  margin-top: -20px;
}
.container .link {
  font-size: 20px;
  border: 1px solid #898989;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
.container .link:hover span {
  color: white;
}
.container .link a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .link img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.container .link span {
}
/* behance  */
.behance {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  position: relative;
}
.behance img {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
}
.behance::after {
  content: "";
  width: 200px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  right: -180px;
  top: 110px;
  transform: rotate(40deg);
}
/* linkedin  */
.linkedin {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  position: relative;
}
.linkedin img {
  filter: drop-shadow(0 0 10px rgba(0, 157, 255, 0.7));
}
.linkedin::after {
  content: "";
  width: 200px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  right: -203px;
  top: 33px;
  transform: rotate(2deg);
}
/* facebook  */
.facebook {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 8;
  position: relative;
}
.facebook img {
  filter: drop-shadow(0 0 10px #0099ffb3);
}
.facebook::after {
  content: "";
  width: 200px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  right: -195px;
  top: -24px;
  transform: rotate(-18deg);
}
/* youtube  */
.youtube {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 10;
  position: relative;
}
.youtube img {
  filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.7));
}
.youtube::after {
  content: "";
  width: 200px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  right: -163px;
  top: -76px;
  transform: rotate(-50deg);
}
/* instagram  */
.instagram {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 10;
  grid-row-end: 11;
  position: relative;
}
.instagram img {
  filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.7));
}
.instagram::after {
  content: "";
  width: 200px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  right: -62px;
  top: -102px;
  transform: rotate(-83deg);
}

/* gmail  */
.gmail {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 10;
  grid-row-end: 11;
  position: relative;
}
.gmail img {
  filter: drop-shadow(0 0 10px rgba(254, 0, 0, 0.7));
}
.gmail::after {
  content: "";
  width: 200px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  right: -8px;
  top: -100px;
  transform: rotate(-101deg);
}
/* snapchat  */
.snapchat {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 10;
  position: relative;
}
.snapchat img {
  filter: drop-shadow(0 0 10px rgba(255, 225, 0, 0.7));
}
.snapchat::after {
  content: "";
  width: 200px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  right: 90px;
  top: -74px;
  transform: rotate(-134deg)
}
/* whatsup  */
.whatsup {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 8;
  position: relative;
}
.whatsup img {
  filter: drop-shadow(0 0 10px rgba(0, 255, 64, 0.7));
}
.whatsup::after {
  content: "";
  width: 200px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  right: 226px;
  top: -40px;
  transform: rotate(-154deg);
}
/* x  */
.x {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 6;
  position: relative;
}
.x img {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
}
.x::after {
  content: "";
  width: 200px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  right: 241px;
  top: 30px;
  transform: rotate(-180deg);
}
/* github  */
.github {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
  position: relative;
}
.github img {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
}
.github::after {
  content: "";
  width: 200px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  right: 192px;
  top: 122px;
  transform: rotate(-221deg);
}
/* telegram  */
.telegram {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
}
.telegram img {
  filter: drop-shadow(0 0 10px rgba(0, 119, 255, 0.7));
}
.telegram::after {
  content: "";
  width: 200px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  right: -43px;
  top: 153px;
  transform: rotate(66deg);
}
/* codepen  */
.codepen {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
}
.codepen img {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
}
.codepen::after {
  content: "";
  width: 200px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  right: 25px;
  top: 158px;
  transform: rotate(103deg);
}
/* End */
.telegram,
.behance,
.codepen,
.github,
.youtube,
.instagram,
.gmail,
.snapchat {
  margin: 20px;
}
.linkedin,
.facebook {
  margin-right: 100px;
}
.behance,
.youtube {
  margin-left: 100px;
}
.x,
.whatsup {
  margin-left: 100px;
}
.github,
.snapchat {
  margin-right: 100px;
}

/* media */
/* Media Query for Small Screens */
@media (max-width: 956px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .info {
    margin-bottom: 30px;
  }
  .container .link {
    position: relative;
    width: 80%;
    margin: 15px;
    padding: 10px;
    transition-duration: 0.3s;
  }
  .container .link:hover {
    transform: translateX(5px);
  }
  .instagram,
  .linkedin,
  .telegram,
  .gmail {
    margin-left: 0;
  }
  .behance::after,
  .linkedin::before,
  .facebook::before,
  .youtube::before,
  .instagram::before,
  .gmail::before,
  .snapchat::before,
  .whatsup::before,
  .x::before,
  .github::before,
  .codepen::before,
  .telegram::before {
    display: none;
  }
}
